target
test-output
*.log
src/test/resources/suites/debug.xml
src/main/resources/apk
build
.allure

# IDEA ignores
*.iml
*.ipr
*.iws
/.idea/*
# IDEA ignore exceptions
!/.idea/codeStyles/
!/.idea/copyright/
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/compiler.xml
!/.idea/encodings.xml
!/.idea/externalDependencies.xml
!/.idea/vcs.xml